<div id="education" class="page-header section">
    <h1>Utbildningar</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="blockquote-box blockquote-1">
                <div class="blockquote-header-container">
                    <div class="blockquote-square">
                        <i class="fa fa-book"></i> 2013 - 2015
                    </div>
                    <div class="blockquote-header">
                        <strong>Högskola</strong>
                    </div>
                </div>
                <p>
                    <strong>Teknikhögskolan - Plushögskolan, Stockholm.</strong><br /><br />
                    Studerar för närvarande på Teknikhögskolan med inriktning på programmering i .NET. Jag har under utbildningen funnit att mitt intresse ligger i just problemlösningar, i alla dess former, stort som litet, och arbetar lika hängivet med bägge formerna.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="blockquote-box blockquote-2">
                <div class="blockquote-header-container">
                    <div class="blockquote-square">
                        <i class="fa fa-book"></i> 2006 - 2009
                    </div>
                    <div class="blockquote-header">
                        <strong>Gymnasium</strong>
                    </div>
                </div>
                <p>
                    <strong>Cybergymnasiet odenplan, Stockholm.</strong><br /><br />
                    Studerade El programmet med inriktning datorteknik.
                </p>
            </div>
        </div>
    </div>
</div>
